<!DOCTYPE html>
      <html>

      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      </head>

      <body>

        <div class="container">
          <h3>DODAJ NOVOG RODITELJA</h3>
          <br/>
          <form class="form-add clearfix w-50 mx-auto p-4" ngNativeValidate (submit)="addParent(firstName.value, lastName.value, username.value,
          email.value, password.value)">

              <input type="reset"  class=" btn2 pull-right btn-sm" value="Reset">
              <br/>
            <div class="form group">
              <label for="firstName">Ime</label>
              <input type="text" class="form-control" id="firstName" #firstName tabindex="1" required >
              <!-- <small id="passwordHelpBlock" class="invalid-feedback">
                  Your name must be 8-20 characters long.
                </small> -->

            </div>
            <br/>

            <div class="form group">
              <label for="lastName">Prezime</label>
              <input type="text" id="lastName" class="form-control" #lastName tabindex="2" required>
            </div>
            <br/>

            <div class="form group">
              <label for="username">Username</label>
              <input type="text" id="username" class="form-control" #username tabindex="3" required>
            </div>
            <br/>

            <div class="form group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" #email tabindex="4" required>
              </div>
              <br/>

            <div class="form group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" #password tabindex="5" required>
            </div>
            <br/>



            <div class="form group">
              <label for="role">kUloga</label>
              <input id="text" type="text" name="role" class="form-control" placeholder="ROLE_PARENT" #role tabindex="6">
            </div>
            <br/>


          <br/>
          <br/>
            <div>
              <button class="btn1 btn-outline-primary mr-1" type="submit" tabindex="7">Dodaj novog Roditelja</button>
            <button  class="btn1 btn-default pull-right "  routerLink="/parents">Cancel</button>
            <!-- <button  class="btn btn-default pull-right "  onclick="history.go(-1)">Cancel</button> -->


          </div>
          </form>

        </div>



      </body>

      </html>
